DataSet: https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html

In [81]:
import torch
import pandas as pd

In [82]:
data = pd.read_csv("BostonHousing.csv")
data

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [96]:
# Shuffle data rows: https://stackoverflow.com/questions/29576430/shuffle-dataframe-rows
data = data.sample(frac=1).reset_index(drop=True)

# Build dataset
X = torch.tensor((data[data.columns[:-1]].values))
Y = torch.tensor((data[data.columns[-1]].values)).view((-1, 1))

# Partition dataset
n1 = int(0.8*len(data))
n2 = int(0.9*len(data))

Xtr, Ytr = X[:n1], Y[:n1]
Xdev, Ydev = X[n1:n2], Y[n1:n2]
Xte, Yte = X[n2:], Y[n2:]

Xtr.shape, Ytr.shape

(torch.Size([404, 13]), torch.Size([404, 1]))

In [104]:
# Layers
# ----------------------------------------------------------------------------------------------------------------------------

class Embedding:
    
    def __init__(self, num_embeddings, embedding_dim):
        self.weights = torch.randn((num_embeddings, embedding_dim))
        return self.weights
        
    def __call__(self, X):
        self.out = self.weights[X]
        return self.out
        
    def parameters():
        return [self.weights]
    
# ----------------------------------------------------------------------------------------------------------------------------

class Linear:
    
    def __init__(self, fan_in, fan_out, bias=False):
        self.weight = torch.randn((fan_in, fan_out))
        self.bias = torch.zeros(fan_out) if bias else None
        
    def __call__(self, x):
        self.out = x @ self.weight
        if bias is not None:
            self.out += self.bias
        return self.out
        
    def parameters():
        return [self.weight] + ([] if self.bias is None else self.bias)
        
# ----------------------------------------------------------------------------------------------------------------------------

class Flatten:
    
    def __init__(self):
        
    def __call__(self):
        
    def parameters():
        
# ----------------------------------------------------------------------------------------------------------------------------

class Tanh:
    
    def __init__(self):
        
    def __call__(self):
        
    def parameters():
        
# ----------------------------------------------------------------------------------------------------------------------------

IndentationError: expected an indented block after function definition on line 38 (3472853086.py, line 40)