In [4]:
import pandas as pd

In [12]:
df = pd.read_csv("data.csv")
df.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [19]:
# Axis = 1 -> x // Axis=0 -> y
df[df.isna().any(axis=1)]

     Duration  Pulse  Maxpulse  Calories
17         45     90       112       NaN
27         60    103       132       NaN
91         45    107       137       NaN
118        60    105       125       NaN
141        60     97       127       NaN

In [37]:
indices = df[df.isna().any(axis=1)].index
indices

Index([17, 27, 91, 118, 141], dtype='int64')

In [42]:
# loc[rows, columns]
df.loc[:, "Duration"]

0      60
1      60
2      60
3      45
4      45
       ..
164    60
165    60
166    60
167    75
168    75
Name: Duration, Length: 169, dtype: int64

In [31]:
df_dropped = df.dropna()

df_dropped.size

656

In [32]:
df_filled = df["Calories"].fillna(130)

df_filled.size

169